{% extends 'base.html' %}

{% block content %}
<main>
    <h1>About Django Todos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi id voluptas non eos aliquam, eveniet animi ullam unde nulla reprehenderit perferendis doloribus commodi possimus, quod vero a suscipit iure neque?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi id voluptas non eos aliquam, eveniet animi ullam unde nulla reprehenderit perferendis doloribus commodi possimus, quod vero a suscipit iure neque?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi id voluptas non eos aliquam, eveniet animi ullam unde nulla reprehenderit perferendis doloribus commodi possimus, quod vero a suscipit iure neque?</p>
</main>
{% endblock %}
