* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: green;
    font-family: Helvetica;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 3rem;
    background-color: dodgerblue;
    color: white;
    box-shadow: 1px 1px 3px grey;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 1.5rem;
}

li > a  {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

footer {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

main {
    flex-grow: 1;
}